<script src="https://kit.fontawesome.com/e7645599a9.js" crossorigin="anonymous"></script>
<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fab fa-itch-io"></i>&nbsp;&nbsp;<strong><a href="https://one-person.itch.io/caduceus">Caduceus</a></strong>
			- Two player snake game created in Godot for GitHub's Game-Off Game Jam.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/asalazar516/web-video-chat">Not Zoom</a></strong>
			- Created a small web video chat in JS for Scopely 3 Day Game Jam. Used PeerJS and Socket.io and deployed to EJS
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/asalazar516/alert-ios-propagation">Alert IOS App Propogation</a></strong>
			- Python script to check when an IOS app has a new update by scraping the app's Apple store page.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/asalazar516/cypress_api_validation">Cypress API Validation Project</a></strong>
			- Created in JS, using Cypress Automation framework to test Cats API Ninja on verifying cat's information
		</h5>
		<!-- <h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 5</a></strong>
			- Dicta causae meliore ex vel, in vix erant integre petentium. Vix ei nisl scripta recusabo,
			eam doming blandit facilisis.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 6</a></strong>
			- Inermis recusabo elaboraret mea et, dicat neglegentur vim te. Nec et sanctus scriptorem,
			usu ex sapientem gubergren. Tamquam admodum ei usu.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 7</a></strong>
			- Essent putant indoctum sed in, reprimique persequeris neglegentur te quo. Nam rebum
			tractatos partiendo at, debet ubique oporteat ut his.
		</h5> -->


    </div>
  </div>
  <h3>
	Projects in progress
  </h3>
  <div class="=panel panel-default">
	<div class="panel-body">
		<h5>
			<i class="fab fa-itch-io"></i>&nbsp;&nbsp;<strong><a href="https://one-person.itch.io/sp">Project MP</a></strong>
			- Tennis-like Godot game. Working in 4.0. Plan to be play solo or locally competitive.
		</h5>
	</div>
  </div>
</div>
</section>
